
.banners{
	text-align:center;
	 width:75%;
	 position:relative;
	 left:10%;
	 border-width: 6px;
	 border-style: solid;
	 max-height: 300px;
	 max-width: 1000px;
	 min-width: 1000px;
	 max-height: 300px;
}

.banners ul{
	list-style: none;
	text-align: left;
}

.banners li{
	display: inline-block;
	padding-left: 25px;
	padding-right: 25px;

}

.fuckTabitha{
	text-align:center;
	 width:75%;
	 position:relative;
	 left:10%;
	 border-width: 6px;
	 border-style: solid;
	 max-width: 1000px;
	 min-width: 1000px;
	 background-color: #3973ac;

}

.fuckTabitha ul{
	list-style: none;
	text-align: left;
	width: 75%;
}

.fuckTabitha li{
	margin-bottom:10px; 
	margin-left:300px;
}

/*Bottom Left Table on Roster Page*/
.nav{
	text-align:center;
	height: 300px;
	position: relative;
	margin-left: 100px;
	float: left;
	border-style: solid;
	max-width: 500px;
	min-width: 500px;
}

/*Bottom Right table on Roster page*/
.section{
	text-align: center;
	float: right;
	position: relative;
	margin-right: 50px;
	height: 300px;
	border-style: solid;
	max-width: 500px;
	min-width: 500px;
}

.body{
	text-align:center;
	width: 75%;
	position: relative;
	left: 10%;
	height:600px;
	border-width:6px;
	border-style: solid;
	background-color: #3973ac;
	max-width: 1000px;
	min-width: 1000px;
}

body {
	background-image: url(../images/backgroundbubbles.jpg););
}

.NavButton {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}