
.banners{
	text-align:center;
	 width:75%;
	 position:relative;
	 left:10%;
	 border-width: 6px;
	 border-style: solid;
}

.banners ul{
	list-style: none;
	text-align: left;
}

.banners li{
	display: inline;
}

.fuckTabitha{
	text-align:center;
	 width:75%;
	 position:relative;
	 left:10%;
	 border-width: 6px;
	 border-style: solid;
}

.fuckTabitha ul{
	list-style: none;
	text-align: left;
	width: 75%;
}

.fuckTabitha li{
	margin-bottom:10px; 
	margin-left:300px;
}