
.banners{
	text-align:center;
	 width:75%;
	 position:relative;
	 left:10%;
	 border-width: 6px;
	 border-style: solid;
	 max-height: 300px;
	 max-width: 1000px;
	 min-width: 1000px;
	 max-height: 300px;
}

.banners ul{
	list-style: none;
	text-align: left;
}

.banners li{
	display: inline-block;
	padding-left: 60px;

}

.fuckTabitha{
	text-align:center;
	 width:75%;
	 position:relative;
	 left:10%;
	 border-width: 6px;
	 border-style: solid;
	 max-width: 1000px;
	 min-width: 1000px;
	 background-color: #3973ac;

}

.fuckTabitha ul{
	list-style: none;
	text-align: left;
	width: 75%;
}

.fuckTabitha li{
	margin-bottom:10px; 
	margin-left:300px;
}

.nav{
	text-align:center;
	height: 300px;
	position: relative;
	left: 10%;
	width: 30%;
	float: left;
	border-style: solid;
	max-width: 500px;
	min-width: 500px;
}

.section{
	text-align: center;
	float: right;
	position: relative;
	right: 30%;
	width: 30%;
	height: 300px;
	border-style: solid;
	max-width: 500px;
	min-width: 500px;
}

.body{
	text-align:center;
	width: 75%;
	position: relative;
	left: 10%;
	height:600px;
	border-width:6px;
	border-style: solid;
	max-width: 1000px;
	min-width: 1000px;
}

body {
	background-image: url(resources/images/backgroundbubbles.jpg););
}