
.banners{
	text-align:center;
	 width:75%;
	 position:relative;
	 left:10%;
	 border-width: 6px;
	 border-style: solid;
	 max-height: 300px;
}

.banners ul{
	list-style: none;
	text-align: left;
}

.banners li{
	display: inline;
}

.fuckTabitha{
	text-align:center;
	 width:75%;
	 position:relative;
	 left:10%;
	 border-width: 6px;
	 border-style: solid;

}

.fuckTabitha ul{
	list-style: none;
	text-align: left;
	width: 75%;
}

.fuckTabitha li{
	margin-bottom:10px; 
	margin-left:300px;
}

.nav{
	text-align:center;
	height: 300px;
	position: relative;
	left: 10%;
	width: 30%;
	float: left;
	border-style: solid;
}

.section{
	text-align: center;
	float: right;
	position: relative;
	right: 20%;
	width: 30%;
	height: 300px;
	border-style: solid;
}

.body{
	text-align:center;
	width: 75%;
	position: relative;
	left: 10%;
	height:600px;
	border-width:6px;
	border-style: solid;
}
